<%- include('../partials/blank_header.ejs') %>
<h1 class="align-text-bottom"><%=error.numero%></h1>
<%=error.mensaje%>
<%=error.descripcion%>
<a href="<%=constants.base_url%>login" class="return-btn"><i class="fa fa-home"></i>Ir al Inicio</a>
<%- include('../partials/blank_footer.ejs') %>
